#Navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(46, 125, 50, 0.95), rgb(39, 99, 42, 0.95), rgb(47, 109, 47, 0.95), rgb(27, 94, 32, 0.95));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    z-index: 999;
}

#Navbar h1{
    font-weight: bold;
    font-size: 40px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

}

#Navbar a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

#Navbar a:hover{
    color: #FFC107;
    cursor: url("Images/cursor_thistle.png"), auto;
}

body{
    padding-top: 70px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

footer{
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.6);
    margin-top: 40px;
}

footer p{
    margin: 0;
    font-size: 14px;
}

.top-image{
    position: relative;
    width: 100%;
    height: 350px;
}

.top-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2E7D32;
    text-align: center;
    padding: 5px 0;
}

.top-bar h2{
    color: white;
    font-size: 32px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

a {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

p {
    font-family: 'Literata', serif;
    font-weight: 400;
}

ol {
    font-family: 'Literata', serif;
    font-weight: 400;
}

ul {
    font-family: 'Literata', serif;
    font-weight: 400;
}

table, th, td {
    font-family: 'Crimson Text', serif;
    font-weight: 560;
}